h2 {
    color: palevioletred;
    background-color: rgb(89, 151, 13);
}

button {
    color: rgb(36, 36, 36);
    background-color: rgb(157, 221, 221);
}

p {
    color: rgb(0, 0, 0);
    background-color: #d8d8d8;
}

body{
    background-color: #000000;
}